{% extends 'www/base_loggedin.html' %}

{% block title %}Application {{ application.name }} <a href='{% url 'applicationUpdate' application.id %}'>Edit</a>{% endblock %}
{% block content %}
  <img class='icon' src='{{ application.icon.url }}'/>
  Name: {{ application.name }}<br/>
  Crypto Key: {{ application.cryptoKey }}<br/>
  <br/>
  <h3>Countries
    {% if application.applicationcountry_set.count < countries_count %}
      <a href="javascript:popup('{% url 'applicationAddCountry' application.id %}')">Add</a>
    {% endif %}
  </h3>
  <ul>
  {% for country in application.applicationcountry_set.all %}
    <li>{{ country.country.name }} <a href="javascript:popup('{% url 'applicationDelCountry' application.id country.country.codeA2 %}')">Remove</a></li>
    <h4>Platforms
      {% if country.applicationplatform_set.count < platforms_count %}
        <a href="javascript:popup('{% url 'applicationAddPlatform' application.id country.id %}')">Add</a>
      {% endif %}
    </h4>
    <ul>
    {% for platform in country.applicationplatform_set.all %}
      <li>{{ platform.platform.name }} <a href="javascript:popup('{% url 'applicationDelPlatform' application.id platform.id %}')">Remove</a></li>
      <div class="appadtypes">
        <h5>Ad types
          {% if platform.applicationadtype_set.count < adtypes_count %}
            <a href="javascript:popup('{% url 'applicationAddAdType' application.id platform.id %}')">Add</a>
          {% endif %}
        </h5>
        <ul>
        {% for adtype in platform.applicationadtype_set.all %}
          <li>{{ adtype.adType }}
              <a href="javascript:popup('{% url 'applicationDelAdType' application.id adtype.id %}')">Remove</a>
              {% if adtype.applicationadplace_set.count < adplaces_count %}
                <a href="javascript:popup('{% url 'applicationAddAdPlace' application.id adtype.id %}')">Add a {{ adtype.adType }} ad place</a>
              {% endif %}
              {% if adtype.parameters.count > 0 %}
                <div class="adtype_parameters">
                  {% for p in adtype.parameters %}
                    {% if p.mandatory or p.value %}
                      {{ p.name }}={{ p.effective_value }}
                    {% endif %}
                  {% endfor %}
                  <a href="javascript:popup('{% url 'applicationAdTypeParameters' application.id adtype.id %}',600,600)">Edit Parameters</a>
                </div>
              {% endif %}
          </li>
        {% empty %}
          No ad types defined
        {% endfor %}
        </ul>
      </div>
      <div class="appadplaces">
        <h5>Ad places</h5>
        <ul>
          {% for adplace in platform.applicationadplace_set.all %}
            <li>
              {{ adplace.adPlace }}/{{ adplace.adType.adType }}
              <a href="javascript:popup('{% url 'applicationDelAdPlace' application.id adplace.id %}')">Remove</a>
              {% if adplace.parameters.count > 0 %}
                <div class="adplace_parameters">
                  {% for p in adplace.parameters %}
                    {% if p.mandatory or p.value %}
                      {{ p.name }}={{ p.effective_value }}
                    {% endif %}
                  {% endfor %}
                  <a href="javascript:popup('{% url 'applicationAdPlaceParameters' application.id adplace.id %}',600,600)">Edit Parameters</a>
                </div>
              {% endif %}
            </li>
          {% empty %}
            No ad places defined
          {% endfor %}
        </ul>
      </div>
    {% empty %}
      No platform defined
    {% endfor %}
    </ul>
  {% empty %}
    No country found<br/>
  {% endfor %}
  </ul>
  <br/>
  <a href='{% url 'applicationList' %}'>Back to application list</a>
{% endblock %}
