{% extends 'www/base_loggedin.html' %}

{% block title %}Application {{ application.name }} <a href='{% url 'applicationUpdate' application.id %}'>Edit</a>{% endblock %}
{% block content %}
  <img class='icon' src='{{ application.icon.url }}'/>
  Name: {{ application.name }}<br/>
  Crypto Key: {{ application.cryptoKey }}<br/>
  <br/>
  <h3>Ad configurations
    {% if application.applicationadconfig_set.count < countries_count %}
      <a href="javascript:popup('{% url 'applicationAddConfig' application.id %}')">Add</a>
    {% endif %}
  </h3>
  <ul>
  {% for config in application.applicationadconfig_set.all %}
    <li>{{ config.country.name }} <a href="javascript:popup('{% url 'applicationDelConfig' application.id config.country.codeA2 %}')">Remove</a></li>
    <h4>Platforms
      {% if config.applicationplatform_set.count < platforms_count %}
        <a href="javascript:popup('{% url 'applicationAddPlatform' application.id config.id %}')">Add</a>
      {% endif %}
    </h4>
    <ul>
    {% for platform in config.applicationplatform_set.all %}
      <li>{{ platform.platform.name }} <a href="javascript:popup('{% url 'applicationDelPlatform' application.id platform.id %}')">Remove</a></li>
      <h5>Ads
        {% if platform.applicationad_set.count < ads_count %}
          <a href="javascript:popup('{% url 'applicationAddAd' application.id platform.id %}')">Add</a>
        {% endif %}
      </h4>
      <ul>
      {% for ad in platform.applicationad_set.all %}
        <li>{{ ad.adType }} {{ ad.adPlace }} <a href="javascript:popup('{% url 'applicationDelAd' application.id ad.id %}')">Remove</a></li>
      {% empty %}
        No ads defined
      {% endfor %}
      </ul>
    {% empty %}
      No platform defined
    {% endfor %}
    </ul>
  {% empty %}
    No ad configurations found<br/>
  {% endfor %}
  </ul>
  <br/>
  <a href='{% url 'applicationList' %}'>Back to application list</a>
{% endblock %}
