<!doctype html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'www/css/main.css' %}">
<script type="text/javascript" src="{% static 'www/js/params.js' %}"></script>
</head>
<body>
  <h2>Parameters of {{ adtype }} of application {{ application }}</h2>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% include 'www/parameters_form.htm' %}
</body>
</html>
