{% extends 'www/base_loggedin.html' %}

{% block title %}Application {{ application.name }} <a href='{% url 'applicationUpdate' application.id %}'>Edit</a>{% endblock %}
{% block content %}
  <img class='icon' src='{{ application.icon.url }}'/>
  Name: {{ application.name }}<br/>
  Crypto Key: {{ application.cryptoKey }}<br/>
  <br/>
  <h3>Ad configurations
    {% if application.applicationadconfig_set.count < countries %}
    <a href="javascript:window.open('{% url 'applicationAddConfig' application.id %}','','width=400, height=150, directories=no, menubar=no, status=no, location=no')">add</a>
    {% endif %}
  </h3>
  {% for config in application.applicationadconfig_set.all %}
    {{ config.country.name }} <a href="javascript:window.open('{% url 'applicationDelConfig' application.id config.country.codeA2 %}','','width=400, height=150, directories=no, menubar=no, status=no, location=no')">Remove</a><br/>
  {% empty %}
    No ad configurations found<br/>
  {% endfor %}
  <br/>
  <a href='{% url 'applicationList' %}'>Back to application list</a>
{% endblock %}
